/* default */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* end of default */

/* reset */
*,
*::before,
*::after {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
/* end of reset */

/* navbar */
.sticky-navbar {
   position: sticky;
   top: 0;
   width: 100%;
   z-index: 1000;
}
/* end of navbar */

/* sidebar */
.sidebar {
   position: fixed;
   top: 0;
   left: 0;
   width: 200px;
   height: 100%;
   background-color: #161b22;
   transition: 0.3s;
   overflow-x: hidden;
}

.sidebar-hidden {
   width: 0px;
}

.sidebar a {
   display: block;
}

.main-content {
   margin-left: 200px;
   transition: 0.3s;
}

.content-expanded {
   margin-left: 0;
}
/* end of sidebar */

/* Loading */
.loading {
   width: 160px;
   height: 160px;
   color: #77bdfb;
   background: radial-gradient(
            150% 150% at left -40% top -40%,
            #0000 98%,
            currentColor
         )
         left top,
      radial-gradient(150% 150% at right -40% top -40%, #0000 98%, currentColor)
         right top,
      radial-gradient(
            150% 150% at left -40% bottom -40%,
            #0000 98%,
            currentColor
         )
         left bottom,
      radial-gradient(
            150% 150% at right -40% bottom -40%,
            #0000 98%,
            currentColor
         )
         right bottom;
   background-size: 50.3% 50.3%;
   background-repeat: no-repeat;
   -webkit-mask: radial-gradient(circle 10px, #0000 90%, #000);
   mask: radial-gradient(circle 10px, #0000 90%, #000);
   animation: sh7 0.75s infinite linear;
}
@keyframes sh7 {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}
/* End of Loading */
